table {
  width: 100%;
}
.mat-column-username {
  border-right: 1px solid currentColor;
  padding-right: 1rem;
  text-align: center;
}
.mat-column-day {
  padding: 0.5rem 1rem;
  text-align: center;
}
.mat-column-hour {
  padding: 0.5rem 1rem;
  text-align: center;
}
.mat-column-totalGuests {
  padding: 0.5rem 1rem;
  text-align: center;
}
