<div class="container">
  <mat-card class="card__horaires">
    <mat-card-header>
      <mat-card-title>Mettez a jour les horaires</mat-card-title>
      <mat-card-subtitle
        >Cliquez sur le jour que vous voulez changer</mat-card-subtitle
      >
    </mat-card-header>
    <div class="horaires">
      <span
        *ngFor="let dayz of updatedSchedule; let i = index"
        (click)="selectItem(dayz)"
        [class.active]="selectedDay == dayz"
      >
        <div
          class="horaires-item"
          [class.active]="dayz?.name == selectedDay?.name"
        >
          {{ dayz.name | uppercase }}

          {{ dayz.dayStartAM | date : "HH:mm" }}h -
          {{ dayz.dayEndAM | date : "HH:mm" }}h

          {{ dayz.dayStartPM | date : "HH:mm" }}h -
          {{ dayz.dayEndPM | date : "HH:mm" }}h

          <br />
        </div>
      </span>
    </div>

    <h4>Changez les Horaires</h4>

    <div>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div>
          <div>
            <mat-form-field>
              <mat-select ngModel name="dayName">
                <mat-option *ngFor="let jour of jours" [value]="jour">
                  {{ jour }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select ngModel name="openOrClose">
                <mat-option value="open"> ouvert </mat-option>
                <mat-option value="close"> fermé </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <div>
              <mat-form-field>
                <mat-select
                  ngModel
                  name="openHourAM"
                  [disabled]="f.value.openOrClose == 'close'"
                >
                  <mat-option *ngFor="let hourAM of hoursAM" [value]="hourAM">
                    {{ hourAM }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-select
                  ngModel
                  name="openMinuteAM"
                  [disabled]="f.value.openOrClose == 'close'"
                >
                  <mat-option
                    *ngFor="let minuteAM of minutes"
                    [value]="minuteAM"
                  >
                    {{ minuteAM }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-select
                  ngModel
                  name="closeHourAM"
                  [disabled]="f.value.openOrClose == 'close'"
                >
                  <mat-option *ngFor="let hourAM of hoursAM" [value]="hourAM">
                    {{ hourAM }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-select
                  ngModel
                  name="closeMinuteAM"
                  [disabled]="f.value.openOrClose == 'close'"
                >
                  <mat-option
                    *ngFor="let minuteAM of minutes"
                    [value]="minuteAM"
                    [disabled]="f.value.openOrClose == 'close'"
                  >
                    {{ minuteAM }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <br />
            <div>
              <mat-form-field>
                <mat-select
                  ngModel
                  name="openHourPM"
                  [disabled]="f.value.openOrClose == 'close'"
                >
                  <mat-option *ngFor="let hourPM of hoursPM" [value]="hourPM">
                    {{ hourPM }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-select
                  ngModel
                  name="openMinutePM"
                  [disabled]="f.value.openOrClose == 'close'"
                >
                  <mat-option
                    *ngFor="let minutePM of minutes"
                    [value]="minutePM"
                  >
                    {{ minutePM }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-select
                  ngModel
                  name="closeHourPM"
                  [disabled]="f.value.openOrClose == 'close'"
                >
                  <mat-option *ngFor="let hourPM of hoursPM" [value]="hourPM">
                    {{ hourPM }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-select
                  ngModel
                  name="closeMinutePM"
                  [disabled]="f.value.openOrClose == 'close'"
                >
                  <mat-option
                    *ngFor="let minutePM of minutes"
                    [value]="minutePM"
                  >
                    {{ minutePM }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div>
          <button
            class="mat-button button__form"
            color="danger"
            type="submit"
            [disabled]="
              f.value.openHourAM > f.value.closeHourAM ||
              f.value.openHourPM > f.value.closeHourPM
            "
          >
            Update
          </button>
          <div *ngIf="f.value.openHourAM > f.value.closeHourAM">
            l'heure d'ouverture doit etre plus petit que l'heure de fermeture
          </div>
        </div>
      </form>
    </div>
  </mat-card>
</div>
