$color-primary: #a07974;
$color-primary-light: #af8b6e;
$color-primary-dark: #907c70;

$color-secondary-light: #d5af7c;
$color-secondary-dark: #d4a261;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-warn: rgb(245, 41, 41);

$police-primary: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
$police-secondary: "Petit Formal Script", cursive;
$police-tertiary: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
